In [46]:
# Arithmetic & operations
a = int(input())
b = int(input())

print("add: ", (a + b))
print("sub: ", (a - b))
print("mul: ", (a * b))
print("div: ", (a // b))

5
6
add:  11
sub:  -1
mul:  30
div:  0

In [47]:
name = "rugu"
age = 23

print("hello, my name is",name,"and i am",age,"years old.")

hello, my name is rugu and i am 23 years old.

In [48]:
#condition checking
n = 34
m = 10
if n > m:
    print(n,"is greater than",m)
else:
    print(n,"is smaller than",m)

34 is greater than 10

In [49]:
# String
s = "hello"
print(s[0])
print(s.upper())
print(len(s))

h
HELLO
5

In [50]:
# list
lst = [1,2,3,4,5,"one","two"]
lst.append(4)
lst.remove("one")
print(lst[1:3]) 
print(lst)

[2, 3]
[1, 2, 3, 4, 5, 'two', 4]

In [51]:
# sets
s = {1,2,2,4,5,3}
print(s)
s.add(8)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 8}

In [52]:
# Dictionaries
d = {"name": "rugu", "age":"23"}
print(d["age"])
d["age"] = 31
print(d["age"])

23
31

In [53]:
# tuple
t = (1,2,3)
print(t[0])

1

In [54]:
#slicing
s = "python"
print(s[1:4])

lst = [1,2,3,4,5]
print(lst[::2])

yth
[1, 3, 5]

In [55]:
# regex 

import regex as re
pattern = r"\S+"
text = "There are 12 apples and 3 bananas"
s = "are"
print(re.findall(pattern, text)) #Returns all matches in a list
# print(re.match(pattern ,text)) #Checks for a match at the beginning of the string
# print(re.search(s,text)) #Searches for the first match anywhere in the string
# print(re.finditer(s, text)) #Returns an iterator yielding match objects
# print(re.sub(pattern,s,text))   #Substitutes matched patterns with a string

['There', 'are', '12', 'apples', 'and', '3', 'bananas']

In [56]:
# regex example
import regex as re


# re.search() – First match anywhere
text = "Email me at abc@example.com"
match = re.search(r"\w+@\w+\.\w+",text)
print(match.group())


# re.findall() – Find all matches
text = "my number are 123-456-7890 and 098-765-4321"
number = re.findall(r"\d{3}-\d{3}-\d{4}",text)
print(number)


# re.sub() – Replace pattern
text = "My name is Rugu"
new_text = re.sub(r"Rugu","rugved", text)
print(new_text)


# Using re.finditer() to access Match Objects
text = "the price is 100, and the discount is 20"
matches = re.finditer(r"\d+",text)
for match in matches:
    print(f"found {match.group()} at position {match.start()}")
    

#Grouping with ()
text = "Name: Rugu, Age: 23"
pattern = r"Name: (\w+), Age: (\d+)"
match = re.search(pattern, text)
print(match.group(1), match.group(2))


#Flags in Regex (like case-insensitive)
text = "Python is GREAT"
match = re.search(r"great", text, re.IGNORECASE)
print(match.group())

abc@example.com
['123-456-7890', '098-765-4321']
My name is rugved
found 100 at position 13
found 20 at position 38
Rugu 23
GREAT

In [57]:

# classes objects - 
# A class is a blueprint for creating objects.
# It defines the properties (called attributes) and behaviors (called methods) an object can have.
# Think of a class as a template, and objects as the actual instances of that template.



#define class example - 

class person:
    def __init__(self,name):
        self.name = name
        
    def greet(self):
        print(f"hello, I'm {self.name}")

p = person("Rugu")
p.greet()



# example
class student:
    def __init__(self, name, roll_no):
        self.name = name
        self.roll_no = roll_no
    
    def display_info(self):
        print(f"Name: {self.name}, Roll No: {self.roll_no}")
        
              
s = student("Rugu", 101)
s.display_info()



# Instance vs class variable
class car:
    wheels = 4
    def __init__(self,brand):
        self.brand = brand
        
    def speed_cal(a,b):
        return a * b

    def kilo_cal(a,b):
        return a / b
    

c1 = car("kia")
print(car.wheels)
print("Car has:",car.wheels,"wheels")
print("speed cal:",car.speed_cal(45, 4))
print("kilometer cal:",car.kilo_cal(45,4))



class bankaccount:
    def __init__(self,balance):
        self._balance = balance
        
    def get_balance(self):
        return self._balance

acc = bankaccount(1000)
print("balance in account is:",acc.get_balance())

hello, I'm Rugu
Name: Rugu, Roll No: 101
4
Car has: 4 wheels
speed cal: 180
kilometer cal: 11.25
balance in account is: 1000

In [58]:
# user define datastructure

import array as ar
a = ar.array("i",[1,2,3])
print("array:",a[2])


# stack using list
stack = []
stack.append(1)
stack.append(2)
stack.append(3)
stack.append(4)
print("stack pop:",stack.pop(0),"stack:",stack)


# queue 

from collections import deque 
queue = deque([1,2,3])
queue.append(4)
print(queue)
print(queue.popleft())

array: 3
stack pop: 1 stack: [2, 3, 4]
deque([1, 2, 3, 4])
1

In [59]:
# loops 
stack = []
for i in range(101):
    if i % 5 == 0:
        stack.append(i)
print(stack)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [60]:
stack = []
i = 0
while i < 101:
    if i % 5 == 0:
        stack.append(i)
    i += 1
        
print(stack)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [61]:
for i in range(5):
    if i == 2:
        continue
    if i == 4:
        break
    print(i)
    
    
for i in range(3):
    pass

squares = [x ** 2 for x in range(101)]
print(squares)

print()
squared_dict = {x: x**2 for x in range(5)}
print(squared_dict)

0
1
3
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [62]:
# function 

def greet():
    print("hello, world!")

greet()


def add(a,b):
    return a + b
r = add(5,3)
print(r)


# scope 
x = 10  # global
def my_fun():
    x = 5
    print(x) # local

my_fun()
print(x)

hello, world!
8
5
10

In [63]:
# Function Arguments

def greet(name, age):
    print(f"{name} is {age} years old.")
greet("rugu", 22)

greet(age=25, name="rugved")


print()
def greet(name="User"):
    print("Hello", name)
greet()


print()
def add_all(*args):        # args is a tuple
    return sum(args)

print(add_all(1, 2, 3, 4))  # 10


print()
def display_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

display_info(name="Rugu", age=22)

print()
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n - 1)
print(factorial(5))


#Built-in Functional Tools
print()
square = lambda x: x*x
print(square(5))


print()
nums = [1, 2, 3, 4]
squared = list(map(lambda x: x ** 2, nums))
print(squared)

rugu is 22 years old.
rugved is 25 years old.

Hello User

10

name: Rugu
age: 22

120

25

[1, 4, 9, 16]