In [4]:
import sqlite3
conn = sqlite3.connect("student.db")
cursor = conn.cursor()

In [ ]:
cursor.execute('''create table if not exists student(
               roll integer primary key,
               name text,
               sapid text unique,
               program text,
               semester integer,
               marks integer,
               result text check(result in("pass","fail"))
               )''')
conn.commit()

In [12]:
num = int(input("Enter number  students data you want to enter "))
for _ in range(num):
    roll= int(input("enter roll number of student "))
    name= input("enter name of student ")
    sapid= input("enter Sap ID of student ")
    program= input("enter program of student ")
    semester= int(input("enter semester of student "))
    marks= int(input("enter marks of student "))
    result= input("enter result of student ")

    cursor.execute("insert into student(roll,name,sapid,program,semester,marks,result) values(?,?,?,?,?,?,?)",
                   (roll,name,sapid,program,semester,marks,result))

In [ ]:
cursor.execute("select * from student")
students = cursor.fetchall()

print("Students data :\n")
for s in students:
    print(s)

In [ ]:
# search student with name and sap id
name=input("enter name of student you want to search")
sapid = input("enter sapid of student you want to search")

cursor.execute("select * from student where name=? and sapid=?",(name,sapid))
searchstudent = cursor.fetchall()

print("Search Result : ")
for ss in searchstudent:
    print(ss)

In [ ]:
# update marks
name = input("enter name of student you want to update marks")
sapid = input("enter sapid of student you want to update marks")
marks = int(input("enter new marks for student"))

cursor.execute("update student set marks=? where name=? and sapid=?",(marks,name,sapid))

cursor.execute("select * from student")
updated = cursor.fetchall()
print("Updated Results : ")
for u in updated:
    print(u)